/*-------------------------------------------------------
 footer
-------------------------------------------------------*/
#footer {
	.footer-group-nav {
		padding: 50px 8%;
		background-color: #415b7f;
		color: #ffffff;
		.footer-row {
			.footer-col {
				display: table-cell;
				box-sizing: border-box;
				padding-left: 10px;
				width: 25%;
				vertical-align: top;
				.footer-linkItem {
					position: relative;
					a {
						padding-left: 10px;
						font-size: 13px;
						font-size: 1.3rem;
						color: #ffffff;
						&:before {
							position: absolute;
							top: 0.7em;
							left: 0;
							width: 5px;
							height: 7px;
							background: url(../../assets/img/layout/icon_arrow.svg) 0 0 no-repeat;
							content: '';
						}
					}
				}
				&:first-child {
					width: 20%;
					padding-left: 0;
				}
			}
		}
	}
	.footer-nav {
		padding: 30px 40px;
		.footer-bottom {
			vertical-align: middle;
			.copyright {
				> ul {
					li {
						display: inline-block;
						img {
							vertical-align: text-bottom;
						}
					}
					&.logo-sp {
						display: none;
					}
				}
				> p, li {
					font-family: "メイリオ", Meiryo,sans-serif;
					font-weight: bold;
					color: #435B67;
					a {
						text-decoration: underline;
						color: #435B67;
					}
				}
				> p {
					&.link {
						display: none;
					}
				}
			}
		}
		.footer-link {
			margin-bottom: -20px;
			& > li {
				display: inline-block;
				border-left: 1px solid #cccccc;
				line-height: 1;
				&:first-child {
					border-left: none;
					a {
						padding-left: 0;
					}
				}
				a {
					padding: 0 10px;
					font-size: 13px;
					font-size: 1.3rem;
					color: #444444;
				}
				&.end {
					&:after {
						content: '';
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	#footer {
		.footer-group-nav {
			padding: 30px 8%;
			.footer-row {
				display: inline;
				width: 100%;
				.footer-col {
					display: block;
					width: 100%;
					padding-left: 0;
					&:first-child {
						width: 100%;
					}
				}
			}
		}
		.footer-nav {
			width: 100%;
			padding: 20px;
			.footer-link {
				text-align: left;
			}
			& > li {
				&:first-child {
					border-left: none;
					a {
						padding-left: 0;
					}
				}
				a {
					padding: 0 10px;
					font-size: 13px;
					font-size: 1.3rem;
					color: #444444;
				}
			}
		}
	}
}

@media only screen and (max-width: 640px) {
	#footer {
		.footer-group-nav {
			display: none;
		}
		line-height: 1.6;
		color: #fff;
		.footer-nav {
			display: block;
			box-sizing: border-box;
			padding: 15px;
			position: relative;
			background-color: #415b7f;
			line-height: 1;
			color: #ffffff;
			.footer-link {
				margin-bottom: -10px;
				font-size: 12px;
				font-size: 1.2rem;
				text-align: center;
				li {
					a {
						color: #ffffff;
					}
				}
			}
			> p {
				text-align: center;
			}
			.footer-bottom {
				background-color: #415b7f;
				.copyright {
					> p {
						&.link {
							display: block;
						}
					}
					> ul {
						display: none;
						&.logo-sp {
							display: block;
							margin-bottom: 7px;
						}
					}
					> p, li {
						color: #ffffff;
						a {
							text-decoration: underline;
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}