/*
#overview

table
*/

.item--dataList {
	&__head {
		padding: 5px 0;
		border-bottom: 2px solid #e5e5e5;
		font-weight: bold;
	}
	&__body {
		padding: 5px 0;
		.c-decimal {
			li {
				list-style-type: decimal;
				margin-left: 1.5em;
				font-size: 1.3rem;
				font-size: 13px;
			}
		}
	}
}